#agenda {
	line-height: 1;
}

#div1{
box-shadow: 10px 10px 10px #999;
background-color: #fffefe;
border: 1px solid black;
margin: 40px 4% 2% 4%;
}

#con{
font-size: 300%;
padding-left: 10px;
}

#div2{
background-color: #ffb77b;
padding-bottom: 10px;
padding-top: 10px;
border: 1px solid black;
}

#logout{
border: 1px solid black;
float: right;
width: 10%;
padding: 1%;
text-align: center;
background-color: #FFE3CD;
}

#logout:hover {
	background-color: #FFE3CD;
	text-decoration: underline;
}

#busca{
margin-left: 180px;
width: 40%;
padding: 0.8% 0.8%;
border-radius: 10px;
font-size: 200%;
}

#contactos{
 height: 450px;
 border: 1px solid black;
}

#iframe{
width: 100%;
height: 100%;
}
