html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
center, u, b, i{vertical-align: baseline; border: 0; outline: 0;
                font-weight: normal; font-style: normal; font-size: 100%; font-family: inherit;}
*               {margin: 0; padding: 0}
body            {line-height: 1; height:100%}
:focus          {outline: 0}
ol, ul          {list-style: none}
table           {border-collapse: collapse; border-spacing: 0;}
blockquote, q   {quotes: "" ""}
hr              {border: 0; color: #000; background-color: #000; height:1px}
blockquote:before, blockquote:after, q:before, q:after {content: ""}

body.bodyCal{
  	background: none;
}

#form {
   padding-left: 3%;
  	background-color: #FFFEFE;
  	margin: 4% 4% 5% 4%;
  	padding-bottom: 2%;
	border: 1px solid black;
  	box-shadow: 10px 10px 10px #999;
}


#foto{
	float: left;
	margin-top: 6%;
	margin-top: 4%;
	margin-left: 5%;
}
#nom, #corr, #ape, #date, #num{
border-radius: 10px;
font-size: 150%;
text-align: center;


}
#num{
	margin-top: 2%;
margin-left: 2%;
}
#nom{
	margin-top: 5%;
	margin-left: 2%;
}

#imgc{
height:120px;
 width:120px;
}
#ape{
	margin-top: 2%;
	margin-left: 2%;
}
#corr{
	margin-top: 0%;
	margin-left:23%; 

}

@-moz-document url-prefix() {
#corr{
	margin-top: 0%;
	margin-left:9%; 

}
}

#date{
	margin-left:23%; 
}

@-moz-document url-prefix() {
#date{
	margin-left:9%; 
}
}

@-moz-document url-prefix() {
textarea#nota{
	font-family: 'Inika', serif;
	border-radius: 10px;
	font-size: 150%;
    margin-top: 2%;
    margin-left: 5%;
    padding-right: 45%; 
}
}

#nota{
	font-family: 'Inika', serif;
	border-radius: 10px;
	font-size: 150%;
    margin-top: 2%;
    margin-left: 5%;
    padding-right: 53%;
}

#notas{
	padding-top: 8%;
	font-family: 'Inika', serif;
	font-size: 150%;
	padding-left: 5%;
	margin-right: auto;
}

iframe#iCal{
	display: none;
	position: relative;
	margin-right: 4%;
	float: right;
	height: 160px;
}
	
@-moz-document url-prefix() {
iframe#iCal{
	display: none;
	position: relative;
	margin-right: 7%;
	float: right;
	height: 160px;
}
}

#tCal{
	border: 1px solid black;
	background-color: white;
	color: orange;
	margin-top: 15px;
}

#tdCal{
	border: 1px solid black;
	background-color: white;
	color: orange;
	text-align: center;
}

#cgdia {
	border: 1px solid black;
	text-align: center;
}

#cgdia:hover {
  background-color: orange;
  color: white;
}

#imgguardar{
width: 75px;
height: 75px;
position: absolute;
left: 87%;
top: 440px;
z-index: 100;
}

#imgatras{
width: 70px;
height: 50px;
float: right;
position: absolute;
left: 87%;
top: 64px;
z-index: 100;
}

#id{
	display: none;
}

@-moz-document url-prefix() {
label.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 215px;
  margin-left: -89px;
}
}

.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 210px;
  margin-left: -89px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #80BDF6;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #D46EFF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@-moz-document url-prefix() {
p#selhodo {
	position: absolute;
	margin-top: 250px;
	margin-left: 64px;
}
}

#selhodo {
	position: absolute;
	margin-top: 250px;
	margin-left: 74px;	
}
@-moz-document url-prefix() {
input#upficheros{
	position: absolute;
	display: inline-block;
	width: 100px;
	height: 34px;
	margin-top: 175px;
	margin-left: -108px;	
}
}

#upficheros{
	position: absolute;
	display: inline-block;
	width: 90px;
	height: 34px;
	margin-top: 175px;
	margin-left: -108px;	
}
