html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::-webkit-input-placeholder{
	text-align: center;
}
::-moz-placeholder{
	text-align: center;
}


body {
  	background: -moz-linear-gradient(147deg, rgba(255,245,237,1) 0%, rgba(255,245,237,1) 37%, rgba(255,224,199,1) 100%); /* ff3.6+ */
  	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(255,224,199,1)), color-stop(63%, rgba(255,245,237,1)), color-	stop(100%, rgba(255,245,237,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(147deg, rgba(255,245,237,1) 0%, rgba(255,245,237,1) 37%, rgba(255,224,199,1) 100%); /* 					safari5.1				+,chrome10	+ */
  	background: -o-linear-gradient(147deg, rgba(255,245,237,1) 0%, rgba(255,245,237,1) 37%, rgba(255,224,199,1) 100%); /* opera 11.10+ */
  	background: -ms-linear-gradient(147deg, rgba(255,245,237,1) 0%, rgba(255,245,237,1) 37%, rgba(255,224,199,1) 100%); /* ie10+ */
  	background: linear-gradient(303deg, rgba(255,245,237,1) 0%, rgba(255,245,237,1) 37%, rgba(255,224,199,1) 100%); /* w3c */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFE0C7', endColorstr='#fff5ed',GradientType=1 ); /* ie6-9 */
	IE 6-9 only support two color linear gradient
	background-repeat: no-repeat;
	font-family: 'Inika', serif;
}
::-webkit-input-placeholder{
	text-align: center;
}
::-moz-placeholder{
	text-align: center;
}

