#login{
box-shadow: 10px 10px 10px #999;
background-color: #fffefe;
text-align: center;
border: 1px solid black;
margin: 5% 4% 5% 4%;
padding-bottom: 2%;
}
#chek{
margin-left: -28%;
 width: 20px;
  height: 20px;
}
#age{
margin-top: 2%;
font-size: 300%
}
#boton{
background-color: #ffb77b;
border-radius: 10px;
font-size: 200%
}
::-webkit-input-placeholder{
	text-align: center;
}
::-moz-placeholder{
	text-align: center;
}
#usco{
width: 40%;
padding: 0.8% 0.8%;
border-radius: 10px;
font-size: 200%;
}
#recu{
font-size: 180%
}
