.contacto{
	font-family: 'Inika', serif;
	font-size: 130%;
	width:100%;
	background-color: #fffefe;
	height: 90px;
}

#foto, #columna1, #columna2, #columna3, #columna4 {
	display: table-cell;
	vertical-align: middle;
	padding: 2px;
	text-align: center;
}
#foto{
	width: 1%;
}
#columna1{
	width: 20%
}
#columna2{
	width: 20%
}
#columna3{
	width: 20%
}
#columna4{
	padding-right: 23px;
	width: 1%
}
#delete, #edita, #mensajeon{
	width: 1%;
}
#img1{
	width: 22px;
	height: 22px;
}
#img2{
	width: 80px;
	height: 80px;
}
#arriba, #abajo{
	width: 15px;
	height: 15px;
}
#divflechas1{
	float: left;
	margin-left: 15.5%;
}
#divflechas2{
	margin-left: 20.5%;
}
#divflechas3{
	margin-left:86%;
}
#nuevo{
	text-align: center;
	font-family: 'Inika', serif;
	background-color: #ffb77b;
	margin-top: -1px;
	font-size: 141%;
	margin-left: 34%;
	margin-right: 34%;
	border: 1px solid black;
	margin-bottom: -2%;
}

#nuevo:hover {
	text-decoration: underline;
	cursor: pointer;
}
